@using Microsoft.AspNetCore.Components.Web

<ErrorBoundary @ref="errorBoundary" Context="errorContext">
    <ChildContent>
        @ChildContent
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger mt-3">
            <h4>An error has occurred</h4>
            <p>Sorry, there was a problem loading this component.</p>
            <button class="btn btn-outline-danger" @onclick="Reset">Try Again</button>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public void Reset()
    {
        errorBoundary?.Recover();
    }
}